$font-stack:    Helvetica, sans-serif
$primary-color: #333
$background-color: #F0F0F0
$a: auto
$width: 900px
$c: center 
body
	font: 100% $font-stack
	color: $primary-color
.wrapper
	width: $width
	background: $background-color
	margin: $a
	h1
		text-align: $c